.ui.large.divider {
    padding: 2rem;
}

.ui.medium.divider {
    padding: 1rem;
}

.ui.vertical.inverted.sidebar.menu.left.overlay {
    background: #452f54;
}

.ui.left.sidebar{
	width:210px;
}

.ui.header {
    color: #452f54;
}

.ui.header.sub.header {
    color: rgba(0, 0, 0, .6);
    font-size: 1.14285714rem;
}

#sqlite_text{
	height: 16em;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:active{
	text-decoration: underline;
}

h3>img.header_icon{
	width:3% !important;
	margin-top: -1% !important;
}

#code_area{
	padding: 0em 0em;
}

span>i.code.icon:hover{
	font-weight: bold;
	cursor: pointer;
}


