<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <script type="text/javascript" src="dist/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="dist/semantic.js"></script>
    <script src="dist/ngclipboard.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui vertical inverted sidebar menu left overlay visible">
                    <a href="index.html" class="item">
                    About Project
                </a>
                    <a href="environment.html" class="item">
                    Database Environment
                </a>
                    <a class="active item">
                    Demo
                </a>
                    <a href="new.html" class="item">
                    New Data
                </a>
                    <a href="queryBrowser.html" class="item">
                    Query Browser
                </a>
                </div>
            </div>
            <div class="very relaxed twelve wide column">
                <div class="ui large divider hidden"></div>
                <div class="ui container">
                    <h1 class="ui header">
                    <i class="big video play icon"></i>
                    <div class="content">Demo
                        <div class="sub header">
                            Here shows the description of queries and their SQL statements we are going to demo. 
                        </div>
                    </div>
                </h1>
                </div>
                <div class="ui divider"></div>
                <div class="ui basic segment">
                    <ol class="ui big list">
                        <div class="subquery example">
                            <li value="*">
                                <span class="code trigger btn"><i class="code icon" ng-click="showCode('subquery')"></i></span>
                                <b>Subquery</b>
                                <ol>
                                    <li value="-">
                                        <div>List all customers who paid more than the average payment of all the customers in database order by inv_id.
                                        </div>
                                    </li>
                                    <div ng-show="isVisible.subquery">
                                        <div class="ui hidden divider"></div>
                                        <div class="demo_code_segement">
                                            <div class="ui existing segment" id="code_area">
                                                <dev class="ui top attached label">
                                                    SQL Statement
                                                    <i ngclipboard data-clipboard-target="#query1" data-content="Copy code" ng-click="copy_to_clipbpard($event)" data-variation="inverted" class="copy_link_btn copy link icon"></i>
                                                </dev>
                                                <pre>
                                            <code id="query1" class="query1" value="SELECT * FROM Invoice WHERE AmountUSD >(SELECT AVG(AmountUSD) FROM Invoice) ORDER BY inv_id;">
    SELECT * FROM Invoice WHERE AmountUSD
    >(SELECT AVG(AmountUSD) FROM Invoice)
    ORDER BY inv_id;
                                            </code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </ol>
                            </li>
                        </div>
                        <div class="ui divider hidden"></div>
                        <div class="join_table example">
                            <li value="*">
                                <span class="code trigger btn"><i class="code icon" ng-click="showCode('join_table')"></i></span>
                                <b>Join Table Queries</b>
                                <ol>
                                    <li value="-">
                                        <div>Retrieve info about a customer named JSTOR, including the name and payment date.
                                        </div>
                                    </li>
                                    <li value="-">
                                        <div>Retrive info about each customer, including cus_id, payment_ date, amountUSD and order by their cus_id.
                                        </div>
                                    </li>
                                    <div ng-show="isVisible.join_table">
                                        <div class="ui hidden divider"></div>
                                        <div class="demo_code_segement">
                                            <div class="ui existing segment" id="code_area">
                                                <dev class="ui top attached label">
                                                    SQL Statement
                                                    <i data-content="Copy code" ng-click="copy_to_clipbpard($event)" data-variation="inverted" class="copy_link_btn copy link icon" code="SELECT name, payment_date FROM customer JOIN Invoice ON Customer.cus_id=Invoice.cus_id WHERE name='JSTOR';"></i>
                                                </dev>
                                                <pre>
                                            <code class="query2">
   SELECT name, payment_date 
   FROM customer 
   JOIN Invoice ON Customer.cus_id=Invoice.cus_id 
   WHERE name='JSTOR';
                                            </code>
                                            </pre>
                                            </div>
                                            <div class="ui existing segment" id="code_area">
                                                <dev class="ui top attached label">
                                                    SQL Statement
                                                    <i data-content="Copy code" ng-click="copy_to_clipbpard($event)" data-variation="inverted" class="copy_link_btn copy link icon" code="SELECT Invoice.cus_id, Invoice.payment_date, Invoice.amountUSD FROM Invoice JOIN Customer ON Customer.cus_id=Invoice.cus_id ORDER BY Customer.cus_id;"></i>
                                                </dev>
                                                <pre>
                                            <code class="query3">
   SELECT Invoice.cus_id, Invoice.payment_date, Invoice.amountUSD 
   FROM Invoice 
   JOIN Customer ON Customer.cus_id=Invoice.cus_id 
   ORDER BY Customer.cus_id;
                                            </code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </ol>
                            </li>
                        </div>
                        <div class="ui divider hidden"></div>
                        <div class="group_by example">
                            <li value="*">
                                <span class="code trigger btn"><i class="code icon" ng-click="showCode('group_by')"></i></span>
                                <b>Group By Query</b>
                                <ol>
                                    <li value="-">
                                        <div> Finding out how many customers have the same contact person, grouped first by contact person, and then by customer name. Also order first by contact person then by customer name.
                                        </div>
                                    </li>
                                    <div ng-show="isVisible.group_by">
                                        <div class="ui hidden divider"></div>
                                        <div class="demo_code_segement">
                                            <div class="ui existing segment" id="code_area">
                                                <dev class="ui top attached label">
                                                    SQL Statement
                                                    <i data-content="Copy code" ng-click="copy_to_clipbpard($event)" data-variation="inverted" class="copy_link_btn copy link icon" code="SELECT COUNT(*), name, contact_person FROM Customer GROUP BY contact_person, name ORDER BY contact_person, name;"></i>
                                                </dev>
                                                <pre>
                                            <code class="query4">
    SELECT COUNT(*), name, contact_person 
    FROM Customer 
    GROUP BY contact_person, name 
    ORDER BY contact_person, name;
                                            </code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </ol>
                            </li>
                        </div>
                                                <div class="ui divider hidden"></div>
                        <div class="other example">
                            <li value="*">
                                <span class="code trigger btn"><i class="code icon" ng-click="showCode('other')"></i></span>
                                <b>Other Query</b>
                                <ol>
                                    <li value="-">
                                        <div> Create a view called Payment that includes cus_id and the amountUSD renames as paymentamount for all the customers that have a paymentUSD greater than $9000.
                                        </div>
                                    </li>
                                    <div ng-show="isVisible.other">
                                        <div class="ui hidden divider"></div>
                                        <div class="demo_code_segement">
                                            <div class="ui existing segment" id="code_area">
                                                <dev class="ui top attached label">
                                                    SQL Statement
                                                    <i data-content="Copy code" ng-click="copy_to_clipbpard($event)" data-variation="inverted" class="copy_link_btn copy link icon" code="CREATE VIEW Payment AS select cus_id, amountUSD AS PaymentAmount FROM INVOICE WHERE amountUSD>9000;"></i>
                                                </dev>
                                                <pre>
                                            <code class="query5">
    CREATE VIEW Payment AS select cus_id, amountUSD AS PaymentAmount 
    FROM INVOICE 
    WHERE amountUSD>9000;
                                            </code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </ol>
                            </li>
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
