<!DOCTYPE html>
<html>

<head>
    <title>IntroDB Project</title>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <script type="text/javascript" src="dist/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="ui centered grid">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical inverted sidebar menu left overlay visible">
                    <a class="active item">
                    Home
                </a>
                    <a class="item">
                    New
                </a>
                    <a class="item">
                    Query
                </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui large divider hidden"></div>
                <h1 class="ui header">IntroDB Project</h1>
                <div class="ui divider hidden"></div>
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="Employee">Employee</a>
                    <a class="item" data-tab="Customer">Customer</a>
                    <a class="item" data-tab="Publisher">Publisher</a>
                    <a class="item" data-tab="Product">Product</a>
                    <a class="item" data-tab="Order">Order</a>
                    <a class="item" data-tab="Invoice">Invoice</a>
                </div>
                <div class="ui medium divider hidden"></div>
                <div class="ui bottom attached tab segment active" data-tab="Employee">
                    <div class="ui very relaxed segment">
                        <p>Hi, {{userName}}. Please click the following button to send request to server.</p>
                        <div ng-if="requestResult" class="ui tertiary teal inverted segment">
                            <h4 class="ui header">Request response:</h4>
                            <div class="ui basic tertiary teal inverted segment">
                                <p><span ng-repeat="str in requestResult.firstStrList">{{str}}&nbsp;</span></p>
                                <p><span ng-repeat="str in requestResult.secondStrList">{{str}}&nbsp;</span></p>
                            </div>
                        </div>
                        <button class="ui blue button" ng-click="getResponse()">
                            <i class="External user"></i> Get Response
                        </button>
                        <button class="ui blue button" ng-click="queryDB()">
                            <i class="External user"></i> Query DB
                        </button>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Customer">
                    All about Customer
                </div>
                <div class="ui bottom attached tab segment" data-tab="Publisher">
                    All about Publisher
                </div>
                <div class="ui bottom attached tab segment" data-tab="Product">
                    All about Product
                </div>
                <div class="ui bottom attached tab segment" data-tab="Order">
                    All about Order
                </div>
                <div class="ui bottom attached tab segment" data-tab="Invoice">
                    All about Invoice
                </div>
            </div>
        </div>
    </div>
</body>

</html>
