<!DOCTYPE html>
<html>

<head>
    <title>New</title>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <script type="text/javascript" src="dist/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical inverted sidebar menu left overlay visible">
                    <a href="index.html" class="item">
                        About
                    </a>
                    <a class="active item">
                        New
                    </a>
                    <a href="queryBrowser.html" class="item">
                        Query Browser
                    </a>
                </div>
            </div>
            <div class="very relaxed ten wide column">
                <div class="ui large divider hidden"></div>
                <h1 class="ui header">
                    <i class="big add circle icon"></i>
                    <div class="content">New
                        <div class="sub header">
                            Here you can insert your data into all tables in database. 
                        </div>
                    </div>
                </h1>
                <div class="ui divider hidden"></div>
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="Example">Example</a>
                    <a class="active item" data-tab="Example2">Example2</a>
                    <a class="item" data-tab="Customer">Customer</a>
                    <a class="item" data-tab="Employee">Employee</a>
                    <a class="item" data-tab="Publisher">Publisher</a>
                    <a class="item" data-tab="Product">Product</a>
                    <a class="item" data-tab="Order">Order</a>
                    <a class="item" data-tab="Invoice">Invoice</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Example">
                    <div class="ui very relaxed segment">
                        <p>Hi, {{userName}}. Please click the following button to send request to server.</p>
                        <div ng-if="requestResult" class="ui tertiary teal inverted segment">
                            <h4 class="ui header">Request response:</h4>
                            <div class="ui basic tertiary teal inverted segment">
                                <p><span ng-repeat="str in requestResult.firstStrList">{{str}}&nbsp;</span></p>
                                <p><span ng-repeat="str in requestResult.secondStrList">{{str}}&nbsp;</span></p>
                                <p><span ng-repeat="str in requestResult.thirdStrList">{{str}}&nbsp;</span></p>
                            </div>
                        </div>
                        <button class="ui blue button" ng-click="getResponse()">
                            <i class="External user"></i> Get Response
                        </button>
                        <button class="ui blue button" ng-click="queryDB()">
                            <i class="External user"></i> Query DB
                        </button>
                    </div>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="Example2">
                    <div class="ui very relaxed segment">
                        <h5 class="ui dividing header">This is an example for using ng-model</h5>
                        <form class="ui form" ng-class="{success:requestResult}">
                            <div class="field">
                                <label>First Name</label>
                                <input type="text" name="first-name" ng-model="first_name" placeholder="First Name" required>
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input type="text" name="last-name" ng-model="last_name" placeholder="Last Name" required>
                            </div>
                            <div class="ui success message">
                                <div class="header">Form Completed</div>
                                <p>{{requestResult.message}}</p>
                            </div>
                            <button ng-click="sendForm()" class="ui button">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Customer">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Customer Information</h3>
                            <div class="two fields">
                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" name="cus_name" placeholder="Name" required>
                                </div>
                                <div class="field">
                                    <label>Contact Person</label>
                                    <input type="text" name="cus_contactPerson" placeholder="Contact Person" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Email</label>
                                    <input type="text" name="cus_email" placeholder="Email" required>
                                </div>
                                <div class="field">
                                    <label>Phone Number</label>
                                    <input type="text" name="cus_phone" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="field">
                                <label>Address</label>
                                <input type="text" name="cus_address" placeholder="Address" required>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Country/Region</label>
                                    <input type="text" name="cus_region" placeholder="Country/Region" required>
                                </div>
                                <div class="field">
                                    <label>Sales Person ID Number</label>
                                    <input type="text" name="cus_empId" placeholder="Sales Person ID Number" required>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Employee">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Employee Information</h3>
                            <label>Name</label>
                            <div class="two fields">
                                <div class="field">
                                    <input type="text" name="emp_fname" placeholder="First Name" required>
                                </div>
                                <div class="field">
                                    <input type="text" name="emp_lname" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Gender</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Date Of Birth</label>
                                    <input type="text" name="emp_dob" placeholder="yyyy/mm/dd" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Phone Number</label>
                                    <input type="text" name="emp_phone" placeholder="Phone Number" required>
                                </div>
                                <div class="field">
                                    <label>Email Address</label>
                                    <input type="text" name="emp_email" placeholder="Email Address" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Title</label>
                                    <input type="text" name="emp_title" placeholder="Title" required>
                                </div>
                                <div class="field">
                                    <label>Department</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Department</option>
                                        <option value="sales">Sales</option>
                                        <option value="product">Product</option>
                                        <option value="financial">Financial</option>
                                        <option value="human_resources">Human Resources</option>
                                        <option value="management">Management</option>
                                        <option value="marketing">Marketing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Region</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Region</option>
                                        <option value="south">South</option>
                                        <option value="north">North</option>
                                        <option value="center">Center</option>
                                        <option value="east">East</option>
                                        <option value="foreign">Foreign</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Start Date</label>
                                    <input type="text" name="emp_startDate" placeholder="yyyy/mm/dd" required>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Publisher">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Publisher Information</h3>
                            <div class="two fields">
                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" name="pub_name" placeholder="Name" required>
                                </div>
                                <div class="field">
                                    <label>Contact Person</label>
                                    <input type="text" name="pub_contactPerson" placeholder="Contact Person" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Email</label>
                                    <input type="text" name="pub_email" placeholder="Email" required>
                                </div>
                                <div class="field">
                                    <label>Phone Number</label>
                                    <input type="text" name="pub_phone" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="twelve wide field">
                                    <label>Address</label>
                                    <input type="text" name="pub_address" placeholder="Address" required>
                                </div>
                                <div class="four wide field">
                                    <label>Country</label>
                                    <input type="text" name="pub_country" placeholder="Country" required>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Product">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Product Information</h3>
                            <div class="two fields">
                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" name="prod_name" placeholder="Name" required>
                                </div>
                                <div class="field">
                                    <label>Subscription Model</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Subscription Model</option>
                                        <option value="yearly">Yearly</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="daily">Daily</option>
                                    </select>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>Type</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Type</option>
                                        <option value="database">Database</option>
                                        <option value="e-book">E-book</option>
                                        <option value="e-journal">E-journal</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Price in USD</label>
                                    <input type="text" name="prod_priceUSD" placeholder="USD" required>
                                </div>
                                <div class="field">
                                    <label>Price in NTD</label>
                                    <input type="text" name="prod_priceNTD" placeholder="NTD" required>
                                </div>
                            </div>
                            <div class="field">
                                <label>Product Description</label>
                                <input type="text" name="prod_description" placeholder="Product Description">
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Publisher ID Number</label>
                                    <input type="text" name="prod_pubId" placeholder="Publisher ID Number" required>
                                </div>
                                <div class="field">
                                    <label>Product Specialist ID Number</label>
                                    <input type="text" name="pub_empId" placeholder="Product Specialist ID Number" required>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Order">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Order Information</h3>
                            <div class="three fields">
                                <div class="field">
                                    <label>Order Date</label>
                                    <input type="text" name="ord_orderDate" placeholder="yyyy/mm/dd" required>
                                </div>
                                <div class="field">
                                    <label>Price</label>
                                    <input type="text" name="ord_price" placeholder="USD" required>
                                </div>
                                <div class="field">
                                    <label>Quantity</label>
                                    <input type="text" name="ord_quantity" placeholder="Quantity" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Product ID Number</label>
                                    <input type="text" name="ord_prodId" placeholder="Product ID Number" required>
                                </div>
                                <div class="field">
                                    <label>Invoice ID Number</label>
                                    <input type="text" name="ord_invId" placeholder="Invoice ID Number" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Subscription Start Date</label>
                                    <input type="text" name="ord_subStartDate" placeholder="yyyy/mm/dd" required>
                                </div>
                                <div class="field">
                                    <label>Subscription End Date</label>
                                    <input type="text" name="ord_subEndDate" placeholder="yyyy/mm/dd" required>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="Invoice">
                    <div class="ui very relaxed segment">
                        <form class="ui form">
                            <h3 class="ui dividing header">Invoice Information</h3>
                            <div class="three fields">
                                <div class="field">
                                    <label>Issued Date</label>
                                    <input type="text" name="inv_issuedDate" placeholder="yyyy/mm/dd" required>
                                </div>
                                <div class="field">
                                    <label>Payment Date</label>
                                    <input type="text" name="inv_paymentDate" placeholder="yyyy/mm/dd" required>
                                </div>
                                <div class="field">
                                    <label>Quarter</label>
                                    <select class="ui fluid dropdown" required>
                                        <option value="">Quarter</option>
                                        <option value="q1">Q1</option>
                                        <option value="q2">Q2</option>
                                        <option value="q3">Q3</option>
                                        <option value="q4">Q4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Amount in USD</label>
                                    <input type="text" name="inv_amountUSD" placeholder="USD" required>
                                </div>
                                <div class="field">
                                    <label>Amount in NTD</label>
                                    <input type="text" name="inv_amountNTD" placeholder="NTD" required>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Customer ID Number</label>
                                    <input type="text" name="inv_cusId" placeholder="Customer ID Number" required>
                                </div>
                                <div class="field">
                                    <label>Annotation</label>
                                    <input type="text" name="inv_annotation" placeholder="Annotation">
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
