<head>
    <title>Query Browser</title>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <script type="text/javascript" src="dist/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui vertical inverted sidebar menu left overlay visible">
                    <a href="index.html" class="item">
                    About Project
                </a>
                    <a href="environment.html" class="item">
                    Database Environment
                </a>
                    <a href="new.html" class="item">
                    New Data
                </a>
                    <a class="active item">
                    Query Browser
                </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui large divider hidden"></div>
                <div class="ui container">
                    <h1 class="ui header">
                    <i class="big search icon"></i>
                    <div class="content">Query Browser
                        <div class="sub header">
                            Here you can run query by your SQLite script. 
                        </div>
                    </div>
                </h1>
                </div>
                <div class="ui divider"></div>
                <div class="ui grid divided">
                    <div class="row">
                        <div class="twelve wide column">
                            <div class="container">
                                <h3 class="ui header"><i class="code icon"></i>SQLite Statement</h3>
                                <form class="ui form" ng-class="{success:requestResult.success, error: requestResult.error, warning: requestResult.warning}">
                                    <div class="field">
                                        <textarea id="sqlite_text" name="sqlite_text" ng-model="sqlite_text" required></textarea>
                                    </div>
                                    <div class="ui success message">
                                        <div class="header">{{requestResult.success}}</div>
                                    </div>
                                    <div class="ui error message">
                                        <div class="header">{{requestResult.error}}</div>
                                    </div>
                                    <div class="ui warning message">
                                        <div class="header">{{requestResult.warning}}</div>
                                    </div>
                                    <div class="ui divider hidden"></div>
                                    <button ng-click="runSQL()" class="ui button">
                                        Run SQL >>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="container">
                                <h3 class="ui header"><i class="database icon"></i>Our Database</h3>
                                <table class="ui basic table">
                                    <thead>
                                        <tr>
                                            <th>Table Name</th>
                                            <th>Records</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href target="_blank" id="selectCus" name="selectCus" ng-click="selectCus()">Customer</a></td>
                                            <td>{{getRecords.cus}}</td>
                                        </tr>
                                        <tr>
                                            <td><a href target="_blank" id="selectEmp" name="selectEmp" ng-click="selectEmp()">Employee</a></td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td><a href target="_blank" id="selectPub" name="selectPub" ng-click="selectPub()">Publisher</a></td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td><a href target="_blank" id="selectProd" name="selectProd" ng-click="selectProd()">Product</a></td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td><a href target="_blank" id="selectOrd" name="selectOrd" ng-click="selectOrd()">Orders</a></td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td><a href target="_blank" id="selectInv" name="selectInv" ng-click="selectInv()">Invoice</a></td>
                                            <td>6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <h3 class="ui header"><i class="list layout icon"></i>Result</h3>
                            <div class="result_table" ng-if="requestResult.table">
                                <h4>Number of Records: {{requestResult.table_num}}</h4>
                                <table class="ui celled striped table">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="name in requestResult.table_name">{{name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in requestResult.table">
                                            <td ng-repeat="ele in row">{{ele}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="notice_msg" ng-if="requestResult.notice">
                                <h4>{{requestResult.notice}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
