<head>
    <title>Query Browser</title>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <script type="text/javascript" src="dist/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui vertical inverted sidebar menu left overlay visible">
                    <a href="index.html" class="item">
                    About
                </a>
                    <a href="new.html" class="item">
                    New
                </a>
                    <a class="active item">
                    Query Browser
                </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui large divider hidden"></div>
                <div class="ui container">
                    <h1 class="ui header">
                    <i class="big search icon"></i>
                    <div class="content">Query Browser
                        <div class="sub header">
                            Here you can run query by your SQLite script. 
                        </div>
                    </div>
                </h1>
                </div>
                <div class="ui divider"></div>
                <div class="ui grid divided">
                    <div class="row">
                        <div class="thirteen wide column">
                            <div class="container">
                                <h3 class="ui header"><i class="code icon"></i>SQLite Statement</h3>
                                <form class="ui form" ng-class="{success:requestResult, error: errorResult}">
                                    <div class="field">
                                        <textarea name="sqlite_text" ng-model="sqlite_text" required></textarea>
                                    </div>
                                    <div class="ui success message">
                                        <div class="header">{{requestResult.message}}</div>
                                    </div>
                                    <div class="ui error message">
                                        <div class="header">{{errorResult}}</div>
                                    </div>
                                    <div class="ui divider hidden"></div>
                                    <button ng-click="runSQL()" class="ui button">
                                        Run SQL >>
                                    </button>
                                </form>
                                <div class="ui divider hidden"></div>
                                <h3 class="ui header"><i class="list layout icon"></i>Result</h3>
                                <table class="ui celled striped table" ng-if="requestResult.table">
                                    <thead>
                                        <tr>
                                            <th ng-repeat= "name in requestResult.table_name">{{name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in requestResult.table">
                                            <td ng-repeat="ele in row">{{ele}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="notice_msg" ng-if="requestResult.notice">
                                    <h4>{{requestResult.notice}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="container">
                                <h3 class="ui header"><i class="database icon"></i>Our Database</h3>
                                <table class="ui basic table">
                                    <thead>
                                        <tr>
                                            <th>Table Name</th>
                                            <th>Records</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Customer</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Employee</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Publisher</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>Product</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Orders</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Invoice</td>
                                            <td>6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
